* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

@font-face {
    font-family: "Volkhov";
    font-style: bold;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/volkhov/v17/SlGVmQieoJcKemNeeY4hkHNSbQ.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
    text-decoration: none;
    color: #212832;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    cursor: pointer;
}

header li:hover {
    border-bottom: 1px solid #212832;
}

.right-side a:hover {
    border: 1px solid #212832;
    padding: 0.56rem 1.375rem;
    border-radius: 0.3125rem;
    transform: scale(1);
}

select {
    border: none;
    outline: none;
    background-color: #fff1da;
}

button {
    border: none;
    outline: none;
    font-size: 1.125rem;
    cursor: pointer;
}

.play-button button:hover {
    background-color: #1e1d4c;
}

h5 {
    font-size: 1.25rem;
    color: #df6951;
    font-weight: bold;
    text-transform: uppercase;
}

.decor {
    position: absolute;
}

.backgorund-decor {
    top: -9rem;
    right: 0rem;
    z-index: -1;
}

.container {
    width: 77.25%;
    margin: auto;
}

header {
    margin-top: 2.93rem;
    color: #212832;
}

.header-content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-content .left-side {
    width: 14.36%;
}

.header-content .left-side img {
    width: 100%;
}

nav {
    width: 40%;
}

.header-content .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22.67%;
}

.header-content .right-side {
    line-height: 1.35rem;
}

/* hero */
.hero .hero-container {
    /* width: 80%; */
    margin: auto;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container .right-side {
    position: absolute;
    width: 46%;
    left: 40rem;
}

.hero-container .right-side .main-photo {
    width: 100%;
}

.plane-1 {
    top: 3rem;
    left: 7rem;
}

.plane-2 {
    top: 6.625rem;
    right: -2rem;
    z-index: -1;
}

.hero .hero-container .left-side {
    width: 54.31%;
}

span {
    position: relative;
}

.title-container img {
    position: absolute;
    top: 5rem;
    left: -2.2rem;
    z-index: -1;
}

.hero-title {
    font-family: "Volkhov" !important;
    color: #181e4b;
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -4%;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
}

.hero-text {
    color: #5e6282;
    margin-bottom: 2.125rem;
    width: 75.71%;
}

.hero-actions,
.play-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-actions {
    width: 60%;
}

.btn--primary {
    color: white;
    background: #f2994a;
    box-shadow: 0rem 1.25rem 2.18rem 0rem #f1a50126;
    border-radius: 0.625rem;
    padding: 1.19rem 1.625rem;
}

.btn:hover {
    transition: 1s;
    background-color: #686d77;
}

.play-button {
    width: 43.53%;
}

.play-button p {
    font-size: 1.06rem;
    color: #686d77;
}

.play-button button {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df6951;
}

/* section: services */

.services {
    margin-top: 13.37rem;
    margin-bottom: 7.68rem;
}

.services-container {
    width: 82.29%;
    margin: auto;
    position: relative;
}

.services-container .section,
.services-container .title {
    text-align: center;
}

.section {
    font-size: 1.125rem;
    font-weight: 600;
    color: #5e6282;
}

.title {
    font-family: "Volkhov";
    font-size: 3.125rem;
    font-weight: 700;
    color: #14183e;
}

.services-container .title {
    margin-top: 0.625rem;
    margin-bottom: 4.25rem;
}

.services-container .cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6.875rem;
}

.services-container .top {
    width: 100%;
}

.services-container .card-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    position: relative;
}

.pluses-decor {
    width: 12%;
    right: 0rem;
    top: 0rem;
}

.bg-pink {
    z-index: -1;
}

.bg-pink1 {
    right: 1rem;
    bottom: 1.81rem;
}

.bg-pink2 {
    bottom: 4rem;
    right: 4.18rem;
}

.bg-pink3 {
    bottom: 4rem;
}

.red-decor {
    z-index: -1;
    bottom: -2.06rem;
    left: -2.18rem;
}

/* icons */

.services-container .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services-container .img-container {
    position: relative;
}

.img {

    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.services .img {
    width: 10.18rem;
    height: 9.31rem;
}

.img-1 {
    background-image: url(../images/icons/1.svg);
}

.img-2 {
    background-image: url(../images/icons/2.svg);
}

.img-3 {
    background-image: url(../images/icons/3.svg);
}

.img-4 {
    background-image: url(../images/icons/4.svg);
}

.services-container .card {
    width: 21.74%;
    text-align: center;
    border-radius: 2.25rem;
    /* padding: 2.81rem 1.2rem; */
}

.services-container .btm-title {
    margin-top: 1.875rem;
    margin-bottom: 0.94rem;
}

.services-container .bottom {
    background-color: #ffffff;
    padding-bottom: 2.81rem;
    border-radius: 2.25rem;
}

.btm-title {
    color: #1e1d4c;
    font-size: 1.25rem;
    font-weight: 600;
}

.description {
    margin: auto;
    font-size: 16px;
    line-height: 26px;
    color: #5e6282;
    width: 68%;
}

/* booking steps */

.booking-steps {
    margin-top: 11.62rem;
}

.booking-steps .container {
    width: 74.16%;
}

.booking-steps .container .left-side {
    width: 45.87%;
}

.booking-steps h2 {
    text-transform: capitalize;
    margin-top: 1rem;
}

.steps-list {
    width: 77.3%;
    margin-top: 1.93rem;
    color: #5e6282;
}

.step-card {
    display: flex;
}

.steps-list .icon {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.81rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.125rem;
    margin-right: 1.31rem;
    cursor: pointer;
}

.steps-list .icon:hover {
    background-color: #14183e
}

.step-card--choose .icon {
    background-color: #f0bb1f;
}

.step-card--payment {
    margin: 3rem 0rem;
}

.step-card--payment .icon {
    background-color: #f15a2b;
}

.step-card--airport .icon {
    background-color: #006380;
}


.p-relative {
    position: relative;
}

/* section: destinations */

.destinations p,
h2 {
    text-align: center;
}

.destinations .img-size {
    /* width: 19.6rem; */
    height: 20.5rem;
    background-size: cover;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.destinations .top img {
    width: 100%;
}

.destinations span {
    margin-left: 0.875rem;
}

.destinations .about {
    margin-bottom: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destinations .about p {
    color: #5E6282;
}

.destinations .cards-container {
    width: 86.81%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.destinations .card {
    position: relative;
    width: 31%;
    border-radius: 1.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.destinations .bottom {
    padding-top: 1.68rem;
    padding-bottom: 2.625rem;
    padding-left: 1.25rem;
    padding-right: 1.625rem;
}

.spirall-decor {
    bottom: 2.93rem;
    right: -4.5rem;
    z-index: -2;
}

.description img {
    width: 100%;
}

.destinations .img-1 {
    background-image: url(../images/destinations/italia.png);
}

.destinations .img-2 {
    background-image: url(../images/destinations/london.jpg);
}

.destinations .img-3 {
    background-image: url(../images/destinations/full-evrope.png);
}

.no-margin {
    margin-top: none !important;
}